<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller='select' data-select-url-value='<%= states_addresses_path %>' data-select-param-value='country'>
    <div class="field">
      <%= form.label :country %>
      <%= form.select :country, CS.countries.invert, { prompt: 'Select a country' }, data: { action: 'change->select#change' } %>
    </div>

    <div class="field">
      <%= form.label :state %>
      <%= form.select :state, [], {}, id: nil, data: { select_target: 'select' } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
